*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#app{
  display: flex;
  align-items: center;
  height: auto;
  background-color: rgba(209, 243, 253, 0.486);
}
.left-contenedor{
  width: 23%;
  height: 100vh;
}
.right-contenedor{
  width: 75%;
  align-items: flex-start;
  height: 100vh;
}
.navbar-contenedor{
  width: 70%;
  height: 95vh;
  border-radius: 20px;
  background-color: white;
}
.icon-contenedor{
  width: 100%;
  height: 30%;
  flex-direction: column;
}
.lista-contenedor{
  width: 100%;
  height: 70%;
  align-items: end;
}
.icono-user{
  margin-top: 20px;
  font-size: 100px;
}
.lista{
  width: 100%;
  height: 13vh;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-start ;
  flex-direction: column;
  margin-bottom: 155%;
}
.lista a{
  text-decoration: none;
  color:black;
  margin: 20px;
  font-size: 1.2em;
  transition: 0.3s all ease-in-out;
}
.lista a:hover{
  background-color: rgb(201, 201, 201);
  padding: 10px 20px;
  transition: 0.3s all ease-in-out;
  border-radius: 10px;
}
.botonSesion{
  padding: 7px 20px;
  border-radius: 10px;
  background-color: rgb(93, 0, 136);
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.botonSesion:hover{
  padding: 9px 22px;
  transition: 0.3s all ease-in-out;
  background-color: rgb(136, 0, 199);
}
.carta-contenedor{
  width: 50%; 
  height: 30vh;
  justify-content: space-evenly;
  margin-bottom: 70%;
}
.creditos-contenedor{
  width: 40%;
  height: 10vh;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(180, 180, 180);
  border-radius: 15px;
  flex-direction: row;
}
.left-creditos{
  width: 50%;
  flex-direction: column;
}
.left-creditos p{
  margin: 5px;
}
.icon-contenedor{
  width: 50%;
}

.clientes-contenedor{
  width: 40%;
  height: 13vh;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(180, 180, 180);
  border-radius: 15px;
  margin-top: 5%;
}
.top-clientes{
  width: 60%;
  flex-direction: column;
}
.top-clientes p{
  margin: 5px;
}
.iconC{
  font-size: 2em;
  color: aqua;
}
.datos{
  font-size: 1.5em;
  font-weight: 700;
  font-family: roboto;
  color: rgb(0, 110, 255);
}
.inicio-contenedor{
  width: 100%;
  height: 6vh;
  background-color: white ;
  border-radius: 20px;
  margin-top: 1.8%;
  color: rgb(93, 0, 136);
}

.pag-clientes-contenedor{
  width: 100%;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.crear-contenedor{
  width: 90%;
  height: 10vh;
  justify-content: space-between;
}
.botonCliente{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(93, 0, 136);
  color: white;
}
.buscar{
  padding: 10px 20px;
}

.datos-contenedor{
  width: 97%;
  border-radius: 10px;
  background-color: rgb(93, 0, 136);
  color:white;
}
.datos-contenedor li{
  list-style: none;
  margin: 10px 30px;
}
.baseDatos{
  list-style: none;
  margin-bottom: 33%;
}
.baseDatos li{
  margin: 10px 30px;
}